@using Hinet.Service.DM_DulieuDanhmucService.DTO
@model CauHinhHeThong
@{
    var isEmptyObject = (typeof(CauHinhHeThong)).GetProperties().Where(d => d.GetValue(Model) != null).Any() == false;
}

<style>
    .footer-app-name {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto';
    }

    .info-footer-gov {
        height: auto;
    }
</style>
<div id="footer-wrapper " class="footer-map">
    <div class="container no-padding" style="height:100%;">
        <div class="text-center">
            <p class="footer-app-name">
                Ứng dụng công nghệ GIS trong quản lý cơ sở hạ tầng bưu chính, viễn thông và truyền thanh cơ sở
            </p>

            <p class="footer-unit-address">
                Trụ sở: Số 82 Hùng Vương - TP.Bắc Giang - Tỉnh Bắc Giang
            </p>
        </div>

        <div class="col-sm-12 info-footer-gov">
            @if (isEmptyObject)
            {
            <p class="info-footer-gov-congthuong">
                Điện thoại: (0204) 3.829.003
            </p>
            <p class="info-footer-gov-congthuong">
                Fax: (0204) 3.855.012
            </p>
            <p class="info-footer-gov-congthuong">
                Email: banbientapbg@gmail.com
            </p>
            }
            else
            {
            <p class="info-footer-gov-congthuong">
                Điện thoại: @Model.DienThoai
            </p>
            <p class="info-footer-gov-congthuong">
                Fax: @Model.Fax
            </p>
            <p class="info-footer-gov-congthuong">
                Email: @Model.Email
            </p>

            }
        </div>
    </div>
</div>

@*<div class="col-sm-12 info-footer-gov">
        <p class="info-footer-gov-congthuong">
            @Model.TenHeThong - @Model.TenDonVi
        </p>
        <p class="info-footer-gov-congthuong">
            Địa chỉ: @Model.DiaChiDonVi
        </p>
        <p class="info-footer-gov-congthuong">
            Email: @Model.Email
        </p>
        <p class="info-footer-gov-congthuong">
            Điện thoại: @Model.DienThoai
        </p>
    </div>*@