@using Hinet.Web.Models;
@model UploadToolModel
@{
    var isCounter = 0;
    if (Model.LstTaiLieu != null && Model.LstTaiLieu.Any())
    {
        isCounter += Model.LstTaiLieu.Count();
    }
    var idTool = "upload" + Model.LoaiTaiLieu ?? "";
}
<div style="width:100%" class="table-responsive-sm">
    <table class="table table-bordered table-striped table-hover table-info" id="@idTool">
        @if (Model.IsModify)
        {
        <thead>
            <tr class="bg-info">
                <th class="center width-30px">#</th>
                @if (Model.LoaiTaiLieu_DDL != null && Model.LoaiTaiLieu_DDL.Count() > 0)
                    {
                <th class="center"> Loại tài liệu</th>
                    }
                <th class="center">Tên tệp</th>
                <th class="center">Tệp</th>
                <th class="center"><a href="javascript:void(0)" onclick="addNewFile('@idTool','@Model.LoaiTaiLieu')"><i class="bi bi-plus-lg" style="color:#003479;"></i></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LstTaiLieu != null)
                {
                    foreach (var item in Model.LstTaiLieu)
                    {
            <tr data-type="rowItem">
                <td>@(Model.LstTaiLieu.IndexOf(item) + 1)</td>
                @if (Model.LoaiTaiLieu_DDL != null && Model.LoaiTaiLieu_DDL.Count() > 0)
                            {
                <td>
                    @Html.DropDownList(item.LoaiTaiLieu, (Model.LoaiTaiLieu_DDL as List<SelectListItem>).Select(x => new SelectListItem
               {
                   Text = x.Text,
                        Value = x.Value,
                        Selected = (item.LoaiTaiLieu.Contains(x.Value)) ? true : false
               }), "- Chọn loại tài liệu -", new { @class = "form-control select2", @disabled = "disabled" })
                </td>
                            }
                <td><a href="/Uploads/@item.DuongDanFile" download><i class="fa fa-download"></i> @item.TenTaiLieu</a></td>
                <td>@string.Format("{0:dd/MM/yyyy HH:mm}", item.CreatedDate)</td>
                <td class="center"><a href="javascript:void(0)" onclick="RemoveItem(this, '@idTool',@item.Id)" style="vertical-align:middle"><i class="fa fa-trash" style="color:red;"></i></a></td>
            </tr>
                    }
                }
            <tr data-type="rowItem">
                <td data-type="stt">@(isCounter + 1)</td>
                @if (Model.LoaiTaiLieu_DDL != null && Model.LoaiTaiLieu_DDL.Count() > 0)
                    {
                <td>
                    @Html.DropDownList("loai_" + Model.LoaiTaiLieu, Model.LoaiTaiLieu_DDL as List<SelectListItem>, "- Chọn loại tài liệu -", new { @class = "form-control select2" })
                </td>
                    }
                <td><input type="text" class="form-control" name="name_@Model.LoaiTaiLieu" data-type="intFilename" placeholder="Tên tài liệu" /></td>
                <td><input type="file" class="form-control" name="@Model.LoaiTaiLieu" data-type="inpFile" /></td>
                <td class="center"><a href="javascript:void(0)" onclick="RemoveItem(this, '@idTool',0)" style="vertical-align:middle"><i class="fa fa-trash" style="color:red;"></i></a></td>
            </tr>
        </tbody>
        }
        else
        {
        <thead>
            <tr class="bg-info">
                <th class="center width-30px">#</th>
                @if (Model.LoaiTaiLieu_DDL != null && Model.LoaiTaiLieu_DDL.Count() > 0)
                    {
                <th class="center"> Loại tài liệu</th>
                    }
                <th class="center">Tên tệp</th>
                <th class="center">Ngày tạo</th>
                <th class="center">Định dạng tệp</th>
                <th class="center">Kích thước</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LstTaiLieu != null)
                {
                    foreach (var item in Model.LstTaiLieu)
                    {
            <tr data-type="rowItem">
                <td>@(Model.LstTaiLieu.IndexOf(item) + 1)</td>
                @if (Model.LoaiTaiLieu_DDL != null && Model.LoaiTaiLieu_DDL.Count() > 0)
                            {
                <td>
                    @Html.DropDownList(item.LoaiTaiLieu, (Model.LoaiTaiLieu_DDL as List<SelectListItem>).Select(x => new SelectListItem
               {
                   Text = x.Text,
                        Value = x.Value,
                        Selected = (item.LoaiTaiLieu.Contains(x.Value)) ? true : false
               }), "- Chọn loại tài liệu -", new { @class = "form-control select2", @disabled = "disabled" })
                </td>
                            }
                <td><a href="/Uploads/@item.DuongDanFile" download><i class="fa fa-download"></i> @item.TenTaiLieu</a></td>
                <td>@string.Format("{0:dd/MM/yyyy HH:mm}", item.CreatedDate)</td>
                <td>@item.DinhDangFile</td>
                <td>@item.KichThuoc kB</td>
            </tr>
                    }
                    if (!Model.LstTaiLieu.Any())
                    {
            <tr>
                <td colspan="5" class="center">Không có tệp nào</td>
            </tr>
                    }
                }
                else
                {
            <tr>
                <td colspan="5" class="center">Không có tệp nào</td>
            </tr>
                }
        </tbody>
        }
    </table>
</div>