@model Hinet.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Đổi mật khẩu người dùng";
    //ViewBag.PageName = "Danh sách người dùng";
}
<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("ChangePassword", "AccountAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-sm-4 control-label">Mật khẩu cũ<span class="red">*</span></label>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.OldPassword,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Mật khẩu mới<span class="red">*</span></label>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Nhập lại mật khẩu mới<span class="red">*</span></label>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="submit" value="Đổi mật khẩu" class="btn btn-primary btn-sm" />
            </div>
        </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}