@using Hinet.Web.Models
@using System.Web.Configuration
@model Hinet.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
    var header1 = WebConfigurationManager.AppSettings["Login_Header1"];
    var header2 = WebConfigurationManager.AppSettings["Login_Header2"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/assets/images/logo.ico">
    <link href="~/assets/css/login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/login/login.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('../../assets/images/background.jpg');"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">

                        <div class="logo">
                            <img id="logo_box_header" src="~/assets/images/logo.png" alt="">
                        </div>
                        <div class="comp-name">
                            <div class="title">TỈNH BẮC GIANG</div>
                            <div class="sub-title" id="title_login_system_info">BÁO CÁO THỐNG KÊ NGÀNH TTTT</div>
                        </div>
                        <div class="info">
                            <div class="li">
                                <i class="bi bi-bank2"></i> Trụ sở: Đường Hoàng Văn Thụ - Thành phố Bắc Giang - Tỉnh Bắc Giang
                            </div>
                            <div class="li">
                                <i class="bi bi-telephone"></i> Điện thoại: 0204.3 555 996, Fax : 0204.3 555 995
                            </div>
                            <div class="li">
                                <i class="bi bi-envelope"></i> Email: banbientap_stttt@bacgiang.gov.vn
                            </div>
                            <div class="li">
                                <i class="bi bi-database-gear"></i> Đơn vị hỗ trợ vận hành: Trung tâm CNTT&TT Bắc Giang
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3>Quên mật khẩu</h3>
                                <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
                            </div>
                            @using (Html.BeginForm("ForgotPassword", "AccountAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessage("AllError", "", new { @class = "text-danger" })

                                <div class="form-group first">
                                    <label>Tài khoản <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group last mb-3">
                                    <label>Email <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                <input type="submit" value="Yêu cầu lấy lại mật khẩu" class="btn btn-block btn-primary">

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>