@model Hinet.Web.Models.ResetForgotPasswordViewModel
@using Hinet.Web.Models
@using System.Web.Configuration
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
    var header1 = WebConfigurationManager.AppSettings["Login_Header1"];
    var header2 = WebConfigurationManager.AppSettings["Login_Header2"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Custom/login.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="main-page">
        <div id="header-login">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="sitename">
                            @header1
                        </h1>
                        <h2 class="sitesoft namesoft">
                            @header2
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 pd-0" id="form-login">
            <div class="container">

                <div class="col-sm-12 center-form">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>
                                Quên mật khẩu
                            </h2>
                        </div>
                        <div class="modal-body">
                            <section id="loginForm">
                                @using (Html.BeginForm("ResetForgotPassword", "AccountAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="hidden" name="IdUser" value="@ViewBag.IdUser" />

                                    <label class="col-md-3 control-label">Nhập mật khẩu mới <span style="color:red">*</span></label>
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nhập lại mật khẩu mới<span style="color:red">*</span></label>
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m=>m.ConfirmNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="text-center">
                                    @Html.ValidationMessage("AllError", "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group ">

                                    <div class="center">
                                        <input type="submit" value="Lưu mật khẩu mới" class="btn btn-primary btn-block btn-sm" />
                                    </div>
                                </div>

                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>