@model Hinet.Model.Entities.QLYeuCauKetNoi

<div>
    <h4>QLYeuCauKetNoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCongTrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCongTrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tram_LoaiTram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tram_LoaiTram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkKetNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkKetNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CongKetNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CongKetNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanSuatKetNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanSuatKetNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CauTrucThuMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauTrucThuMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuongDanThuMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuongDanThuMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiKetNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKetNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>