<!DOCTYPE html>
<html lang="en">
@using Hinet
@using Hinet.Web.Core
@using Hinet.Web.LocationResouces
@{ var isAjaxAsync = 0;
    if (ViewBag.AjaxAsync != null)
    {
        isAjaxAsync = 1;
    } }
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


    <!-- ace styles -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    @Styles.Render("~/assets/appcss")
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link href="~/Content/fixed-element.css" rel="stylesheet" />
    <link href="~/Content/ADashboard.css" rel="stylesheet" />
    <link href="~/assets/n-icon/n-icon.css" rel="stylesheet" />
    @*<link href="~/Content/" rel="stylesheet" />*@
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Styles.Render("~/Content/Common.css")
    <link href="~/Content/TramDien/main.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <link href="~/Content/TramDien/form.css" rel="stylesheet" />
    @Scripts.Render("~/assets/appjs")
    <link href="~/Content/TramDien/search.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/datepicker")
    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/Scripts/compareDocument.js"></script>
    <script src="~/assets/js/bootstrap-multiselect.min.js"></script>
    <script src="~/assets/js/jquery.bootstrap-duallistbox.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/bootstrap-duallistbox.min.css" />

    <script src="~/assets/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>

    <script src="~/content/go.js"></script>
    <script src="~/Scripts/easyNotify.js"></script>
    <link href="~/Content/lobibox/css/lobibox.css" rel="stylesheet" />
    <link href="~/assets/css/colorbox.min.css" rel="stylesheet" />
    <script src="~/Content/lobibox/js/Lobibox.js"></script>

    <link href="~/Content/backend.css" rel="stylesheet" />
    <link href="~/Content/BackendResponsive.css" rel="stylesheet" />
    <script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>

    <script>
        CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
        CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
        CKEDITOR.instances[instance].document.on("paste", CK_jQ);
        CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
        CKEDITOR.instances[instance].document.on("blur", CK_jQ);
        CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
        });

        function CK_jQ() {
        for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
        }
        }

        InitRole(@Html.GetRole());


    </script>
    <script src="~/assets/n-icon/icons/brand.js"></script>
    <script src="~/assets/n-icon/icons/light.js"></script>
    <script src="~/assets/n-icon/icons/regular.js"></script>
    <script src="~/assets/n-icon/icons/solid.js"></script>
    <script src="~/assets/n-icon/n-icon.js"></script>
</head>

<body class="no-skin">
    <div id="hinet-preloader" style="position: absolute;z-index: 20000;width: 100%;height: 100%;display:none;">
        <div style="background-color: #ffffff;padding: 10px 30px;width: 200px;border-radius: 10px;border: 2px solid #2980b9;position: fixed;
                    top: 40%;left: 50%;margin-left: -100px;-webkit-box-shadow: 4px 7px 25px -7px  rgba(0,0,0,0.75);-moz-box-shadow:4px 7px 25px -7px  rgba(0,0,0,0.75);box-shadow: 4px 7px 25px -7px  rgba(0,0,0,0.75);">
            <p style="text-align: center;margin-top: 10px;font-weight: bold;color: #2980b9;font-size: 1.2em;">Đang xử lý...</p><p></p>

            <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" viewBox="0 0 128 16" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" /><path fill="#949494" fill-opacity="0.42" d="M6.4,4.8A3.2,3.2,0,1,1,3.2,8,3.2,3.2,0,0,1,6.4,4.8Zm12.8,0A3.2,3.2,0,1,1,16,8,3.2,3.2,0,0,1,19.2,4.8ZM32,4.8A3.2,3.2,0,1,1,28.8,8,3.2,3.2,0,0,1,32,4.8Zm12.8,0A3.2,3.2,0,1,1,41.6,8,3.2,3.2,0,0,1,44.8,4.8Zm12.8,0A3.2,3.2,0,1,1,54.4,8,3.2,3.2,0,0,1,57.6,4.8Zm12.8,0A3.2,3.2,0,1,1,67.2,8,3.2,3.2,0,0,1,70.4,4.8Zm12.8,0A3.2,3.2,0,1,1,80,8,3.2,3.2,0,0,1,83.2,4.8ZM96,4.8A3.2,3.2,0,1,1,92.8,8,3.2,3.2,0,0,1,96,4.8Zm12.8,0A3.2,3.2,0,1,1,105.6,8,3.2,3.2,0,0,1,108.8,4.8Zm12.8,0A3.2,3.2,0,1,1,118.4,8,3.2,3.2,0,0,1,121.6,4.8Z" /><g><path fill="#2980b9" fill-opacity="1" d="M-42.7,3.84A4.16,4.16,0,0,1-38.54,8a4.16,4.16,0,0,1-4.16,4.16A4.16,4.16,0,0,1-46.86,8,4.16,4.16,0,0,1-42.7,3.84Zm12.8-.64A4.8,4.8,0,0,1-25.1,8a4.8,4.8,0,0,1-4.8,4.8A4.8,4.8,0,0,1-34.7,8,4.8,4.8,0,0,1-29.9,3.2Zm12.8-.64A5.44,5.44,0,0,1-11.66,8a5.44,5.44,0,0,1-5.44,5.44A5.44,5.44,0,0,1-22.54,8,5.44,5.44,0,0,1-17.1,2.56Z" /><animateTransform attributeName="transform" type="translate" values="23 0;36 0;49 0;62 0;74.5 0;87.5 0;100 0;113 0;125.5 0;138.5 0;151.5 0;164.5 0;178 0" calcMode="discrete" dur="1170ms" repeatCount="indefinite" /></g></svg>


        </div>
    </div>

        <div id="navbar" class="navbar navbar-default ace-save-state">

            <div class="navbar-container ace-save-state" id="navbar-container">

                @*
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>
                *@

                <div class="navbar-header pull-left">
                    <a href="/DashboardArea/Dashboard" class="navbar-brand">
                        <img src="~/Content/Img/production.png" />
                        <strong style="">
                            CSDL Công thương Bắc Giang
                        </strong>
                    </a>

                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    @Html.Partial("_RightPartial")
                </div>

                <div class="runtext-container">
                    <div class="text-container" id="boxRunText">

                    </div>

                </div>
            </div><!-- /.navbar-container -->
        </div>


    @using Hinet.Service.AppUserService.Dto
    @using Microsoft.AspNet.Identity
    @using Hinet.Service.Constant

    @{ var userInfo = SessionManager.GetUserInfo() as UserDto;
        long jsUserId = 0;
        if (userInfo != null)
        {
            jsUserId = userInfo.Id;
        }
    }
<div class="main-container ace-save-state" id="main-container">

    <script type="text/javascript">try { ace.settings.loadState('main-container') } catch (e) { }</script>
    @*
        <div style="z-index: 1000000" id="sidebar" class="sidebar responsive ace-save-state sidebar-left-menu">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>
            @Html.Partial("_MapMenuPartial")

        </div>
    *@

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div>
                    @RenderBody()
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    @Html.Partial("_FooterPartial")
    <a href="#" id="btn-scroll-up" onclick="scroll()" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

    <script src="/Scripts/jquery.signalR-2.4.1.min.js"></script>

    <script src="/signalr/hubs"></script>

    <script>

    </script>
    <script src="~/assets/js/jquery.colorbox.min.js"></script>


    @RenderSection("scripts", required: false)



</body>
</html>
