@model Hinet.Web.Models.RegisterViewModel

<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-lg modal-dialog-centered animated">
        <div class="modal-content">
            <div class="modal-login-container" id="modal-login-container">

                <!-- Đăng ký -->
                <div class="modal-login-form-container sign-up-container">
                    <img class="close-login-modal"
                         src="~/Content/img/close.svg"
                         alt="close" />

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "formRegister", @class = "modal-login-form formRegister" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="fw-700 fz-24 color-pink lh-24">Đăng ký</p>
                        <small class="fz-13 fw-400 c-mb-12">
                            Vui lòng đăng ký để sử dụng dịch vụ của chúng tôi
                        </small>

                        <p class="modal-login-error text-center registError" id="registError"></p>

                        <span class="input-group w-100">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "input-primary c-mt-12", placeholder = "Nhập tên tài khoản" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-error c-mt-4" })
                        </span>

                        <div class="w-100 input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-primary", placeholder = "Nhập mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-error c-mt-4" })
                        </div>

                        <div class="w-100 input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-primary", placeholder = "Nhập lại mật khẩu" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-error c-mt-4" })
                        </div>

                        <button type="submit" class="btn pink btn-pink-default c-mt-16">Đăng ký</button>
                    }
                </div>

                <!-- Đăng nhập -->
                <div class="modal-login-form-container sign-in-container">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "formLogin", @class = "modal-login-form formLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="fw-700 fz-24 lh-32">Đăng nhập</p>
                        <small class="fz-13 fw-400 c-mb-12">
                            Vui lòng đăng nhập để sử dụng dịch vụ của chúng tôi
                        </small>

                        <p class="modal-login-error text-center LoginError"></p>

                        <span class="input-group w-100">
                            @Html.TextBox("Username", null, new { @class = "input-primary c-mt-12", placeholder = "Nhập tên tài khoản" })
                            @Html.ValidationMessage("Username", "", new { @class = "text-error c-mt-4" })
                        </span>

                        <div class="w-100 input-group">
                            @Html.Password("Password", null, new { @class = "input-primary", placeholder = "Nhập mật khẩu" })
                            @Html.ValidationMessage("Password", "", new { @class = "text-error c-mt-4" })
                        </div>

                        <button type="submit" class="btn primary btn-primary-default c-mt-16">Đăng nhập</button>

                        <span class="login-via fw-400 fz-13 c-mt-24">Hoặc đăng nhập qua</span>
                        <div class="d-flex justify-content-center">
                            <div class="social-container c-mt-24">
                                <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Facebook" })" class="social">
                                    <img src="~/Content/img/facebook.svg" alt="facebook" />
                                </a>
                            </div>
                            <div class="social-container c-mt-24">
                                <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Google" })" class="social">
                                    <img src="~/Content/img/google.png" alt="google" />
                                </a>
                            </div>
                        </div>
                    }
                </div>

                <!-- Overlay -->
                <div class="modal-login-overlay-container">
                    <div class="modal-login-overlay">
                        <div class="modal-login-overlay-panel modal-login-overlay-left"
                             style="background-image: url('/Content/img/bglogin.png');">
                            <p class="modal-login-suggestion fw-700 fz-24">Xin chào</p>
                            <p class="fw-400 fz-13">Bạn đã có tài khoản, vui lòng đăng nhập tại đây</p>
                            <button class="btn primary btn-primary-default" id="signIn">Đăng nhập</button>
                        </div>
                        <div class="modal-login-overlay-panel modal-login-overlay-right"
                             style="background-image: url('/Content/img/bglogin.png');">
                            <img class="close-login-modal" src="~/Content/img/close.svg" alt="close" />
                            <p class="modal-login-suggestion fw-700 fz-24">Xin chào</p>
                            <p class="fw-400 fz-13">Vui lòng đăng ký ngay tại đây</p>
                            <button class="btn pink btn-pink-default" id="signUp">Đăng ký</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
