@using Hinet.Model.IdentityEntities
@using Hinet.Model.IdentityEntities
@using Hinet.Web.Areas.BannerArea.Models

@model EditVM
@{

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "Banner", new { @area = "BannerArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editBannerForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <label class="control-label col-sm-4">Tên <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Ảnh </label>
                        <div class="col-sm-8">
                            <div class="image-upload-box">
                                <img id="previewAnh" src="@Model.DuongDanAnh" alt="Preview ảnh" class="image-preview @(string.IsNullOrEmpty(Model.DuongDanAnh) ? "" : "has-image")" />
                                <p id="uploadText" class="upload-text">+ Chọn ảnh</p>
                                <input type="file" id="uploadAnh" name="FileAnh" accept="image/*" class="file-input" />
                            </div>
                            @Html.HiddenFor(m => m.DuongDanAnh, new { id = "DuongDanAnh" })
                            @Html.ValidationMessageFor(m => m.DuongDanAnh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Link </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">STT </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.STT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.STT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Kích hoạt </label>
                        <div class="col-sm-8">
                            <div class="col-sm-8">
                                <label class="switch">
                                    <input type="checkbox" value="true" checked="@Model.KichHoat" id="KichHoat" name="KichHoat">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-sm btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>
    $("#uploadAnh").change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#previewAnh")
                    .attr("src", e.target.result)
                    .show();
            }
            reader.readAsDataURL(input.files[0]);;
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")