@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý ";
    ViewBag.PageName = "Thông tin ";
    ViewBag.ModuleCode = "Banner_detail";
}
@using Hinet.Model.IdentityEntities
@using Hinet.Model.Entities
@using Hinet.Web.Areas.BannerArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/BannerArea/Banner/Index')" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên</td><td>@Model.objInfo.Name</td></tr>
<tr><td>Ảnh</td><td>@Model.objInfo.DuongDanAnh</td></tr>
<tr><td>Link</td><td>@Model.objInfo.Link</td></tr>
<tr><td>Kích hoạt</td><td>@Model.objInfo.KichHoat</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedID</td></tr>
<tr><td></td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteId</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
